/* Iosevka Etoile Font Family - Local */

@font-face {
  font-family: "Iosevka Etoile";
  src: url("/static/fonts/IosevkaEtoile-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Iosevka Etoile";
  src: url("/static/fonts/IosevkaEtoile-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Iosevka Etoile";
  src: url("/static/fonts/IosevkaEtoile-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Iosevka Etoile";
  src: url("/static/fonts/IosevkaEtoile-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Iosevka Etoile";
  src: url("/static/fonts/IosevkaEtoile-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Iosevka Etoile";
  src: url("/static/fonts/IosevkaEtoile-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Iosevka Etoile";
  src: url("/static/fonts/IosevkaEtoile-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Iosevka Etoile";
  src: url("/static/fonts/IosevkaEtoile-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Iosevka Etoile";
  src: url("/static/fonts/IosevkaEtoile-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
