/* Iosevka Etoile Font Family - Local */

@font-face {
  font-family: "Iosevka Etoile";
  src: url("/static/fonts/IosevkaEtoile-Thin.ttc") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Iosevka Etoile";
  src: url("/static/fonts/IosevkaEtoile-ExtraLight.ttc") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Iosevka Etoile";
  src: url("/static/fonts/IosevkaEtoile-Light.ttc") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Iosevka Etoile";
  src: url("/static/fonts/IosevkaEtoile-Regular.ttc") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Iosevka Etoile";
  src: url("/static/fonts/IosevkaEtoile-Medium.ttc") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Iosevka Etoile";
  src: url("/static/fonts/IosevkaEtoile-SemiBold.ttc") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Iosevka Etoile";
  src: url("/static/fonts/IosevkaEtoile-Bold.ttc") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Iosevka Etoile";
  src: url("/static/fonts/IosevkaEtoile-ExtraBold.ttc") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Iosevka Etoile";
  src: url("/static/fonts/IosevkaEtoile-Heavy.ttc") format("truetype");
  font-weight: 900;
  font-style: normal;
}
